@font-face {
    font-family: "JetBrains Mono";
    src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
}

:root {
    --clr-black-900: #18171f;
    --clr-black-800: #24232c;
    --clr-gray: #817d92;
    --clr-white-200: #e6e5ea;
    --clr-green: #a4ffaf;
    --clr-red: #f64a4a;
    --clr-orange: #fb7c58;
    --clr-yellow: #f8cd65;

    /* default spacing*/
    --spacing: 1rem;

    --p: 24px;

    --fs-body-m: 16px;
    --fs-heading-m: 24px;
    --fs-heading-l: 32px;

    --lh-heading-m: 31px;
    --lh-heading-l: 43px;
    --lh-body-m: 23px;
    --fs-bold: bold;
}

@media (min-width: 600px) {
    :root {
        --body-m: 18px;
    }
}
:root {
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    font-size: inherit;
}

html {
    font-family: "JetBrains Mono", sans-serif;
}

/* typography */

h1 {
    font-size: var(--fs-body-m);
    line-height: var(--lh-body-m);
    color: var(--clr-gray);
    font-weight: bold;
    text-align: center;
    margin: var(--spacing);
}
h2 {
    font-size: 1.5rem;
    line-height: 31px;
    font-weight: bold;
}
body {
    font-size: var(--body-m);
    line-height: 23px;
    font-weight: bold;
    min-height: 100vh;
    display: grid;
    place-content: center;

    color: var(--clr-white-200);
    background-color: var(--clr-black-900);
}

main {
    max-width: 540px;
    padding: var(--spacing);
}
.flex {
    --height: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & .value {
        color: var(--clr-green);
        font-size: 2rem;
    }
}
.result {
    background-color: var(--clr-black-800);

    font-weight: bold;

    position: relative;
    & .btn-copy {
        display: block;
        position: absolute;
        right: var(--spacing);
        top: 50%;

        transform: translateY(-50%);
    }
    & input {
        width: 100%;
        padding: 1rem;
        background-color: var(--clr-black-800);
        border: 0;

        color: var(--clr-white-200);

        font-size: var(--fs-heading-m);
        line-height: var(--lh-heading-m);

        outline: none;
    }
    & input::placeholder {
        font-size: var(--fs-heading-m);
        line-height: var(--lh-heading-m);
        letter-spacing: 1px;
    }
}

.generator {
    min-width: 343px;
}
.generator .body {
    padding: var(--spacing);
    background-color: var(--clr-black-800);
    margin-top: var(--spacing);
}

.generator__length {
    & .length {
        color: var(--clr-green);
        font-size: var(--fs-heading-l);
    }
    & .flex {
        margin-bottom: var(--spacing);
    }
}
.body .generator__include {
    padding: var(--spacing) 0;
    & > * {
        margin-top: var(--spacing);
    }
}

.generator__strength {
    background-color: var(--clr-black-900);
    padding: var(--spacing);
    margin-bottom: var(--spacing);
    color: var(--clr-gray);
    text-transform: uppercase;
    & .value {
        font-size: var(--fs-heading-m);
        color: var(--clr-white-200);
    }
}
.generator__indicators {
    display: flex;
    gap: 8px;
}

.generator__indicators[data-strength="tooweak"] .generator__indicator:nth-child(1) {
    background-color: var(--clr-red);
    border-color: var(--clr-red);
}

.generator__indicators[data-strength="weak"] .generator__indicator:nth-child(-n + 2) {
    background-color: var(--clr-orange);
    border-color: var(--clr-orange);
}

.generator__indicators[data-strength="medium"] .generator__indicator:nth-child(-n + 3) {
    background-color: var(--clr-yellow);
    border-color: var(--clr-yellow);
}
.generator__indicators[data-strength="strong"] .generator__indicator {
    background-color: var(--clr-green);
    border-color: var(--clr-green);
}

.generator__indicator {
    border: 2px solid var(--clr-white-200);
    width: 10px;
    height: 28px;
}
/* range slider */
input[type="range"] {
    height: 8px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    background-color: var(--clr-green);
    padding: 0;
    cursor: pointer;
}

input[type="range"]::-moz-progress-bar {
    background-color: transparent;
}

input[type="range"]::-moz-range-progress {
    background-color: var(--clr-green);
}

input[type="range"]::-webkit-slider-thumb {
    width: 28px;
    -webkit-appearance: none;
    height: 28px;
    background: var(--clr-white-200);
    border-radius: 50%;
}
/* button */
button {
    background-color: var(--clr-green);
    width: 100%;
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: 0;

    transition: background-color 0.3s;
}

button:hover,
button:focus {
    background-color: var(--clr-black-800);
    outline: 2px solid var(--clr-green);
    color: var(--clr-green);
}

/* checkbox customization */
.generator__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: var(--fs-body-m);
}

.generator__checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    position: absolute;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid var(--clr-white-200);
    cursor: pointer;
}

.generator__checkbox:hover input[type="checkbox"] ~ .checkmark {
    border: 2px solid var(--clr-green);
}
.generator__checkbox input[type="checkbox"]:checked ~ .checkmark {
    background-color: var(--clr-green);
    border: 2px solid var(--clr-green);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.generator__checkbox input[type="checkbox"]:checked ~ .checkmark:after {
    display: block;
}

.generator__checkbox:hover input[type="checkbox"]:checked ~ .checkmark {
    background-color: transparent;
}

.generator__checkbox input[type="checkbox"]:checked:hover ~ .checkmark:after {
    display: block;
    border-color: var(--clr-green);
}
/* checkmark indicator */
.generator__checkbox .checkmark:after {
    left: 4px;
    top: 1px;
    width: 8px;
    height: 12px;
    border: solid var(--clr-black-800);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
